*{
    padding: 0;
    margin: 0;
}
html,
body {
    height: 100%;

}
html {
    position: relative;
}
body {
    background: #fff;
    font-size: 16px;
    min-width: 1260px;
    font-family: 'PT Serif', serif;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -204px;

}
#push,
#footer {
    height:200px;
}
#footer {
    width: 100%;
    color: #fff;
    font-size: 14px;
    background: #f4436d;
}
.container{
    width: 1170px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}
.topPhoho{
    background: url(img/top_photo.jpg) 0 0 no-repeat;
    width: 1170px;
    height: 485px;
    margin: 0 auto;
    color: #fff;
    font-style: italic;
    font-weight: bolder;

    position: relative;
}
.topPhoho .topPhoho-text{
    /*position: absolute*/
    display: inline-block;
    /*margin: 20px auto 0;*/
    width: 750px;
    position: absolute;
    top: 146px;
    left: 221px;
    font-size: 45px;
}
.pinkFormTop{
    background: #f4436d;
    height: 34px;
    position: absolute;
    bottom: 0;
    width: 650px;
    left: 260px;
    line-height: 34px;
    font-size: 30px;
}
.pinkFormTop .pinkFormTop-text{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -8px;
}
.socialLinks{
    position: absolute;
    list-style: none;
    left: 30px;
    top: 45px;
    padding: 0;
    margin: 0;
}
.socialLinks li{
    float: left;
    margin-right: 7px;
}
.socialLinks a{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('img/networks.png') 0 0 no-repeat;
}
.socialLinks .vk{
    background-position:  0 0 ;
}
.socialLinks .lj{
    background-position:  -41px 0;
}
.socialLinks .inst{
    background-position:  -83px 0;
}
.left{
    float: left;
}
.right{
    float: right;
}
.detailForm{
    height: 83px;
    background: #f4436d;
    padding: 0 44px
}
.detailForm .input{
    outline: none;
    border: 0;
    background: #fff;
    color: #000;
    font-size: 16px;
    padding: 0px 10px;
    height: 29px;
    width: 216px;
    margin: 30px 70px 0 0;
}
.detailForm .input-smallMargin{
    margin: 30px 40px 0 0;
}
.logoWrapper{
    font-style: italic;
    position: absolute;
    bottom: 23px;
    /*line-height: 250px;*/
    font-size: 26px;
}
.logoWrapper .logoText{
    width: 426px;
    display: block;
    color: #333;
}

.logoWrapper .logoText span{
    margin-top: 111px;
    display: inline-block;
}
.logoWrapper .logoText:first-child span{
    text-align: right;
    margin-right: 50px;
}
.logoWrapper .logoText:last-child span{
    text-align: left;
    margin-left: 50px;
}
.logoWrapper .logoImg{
    display: block;
    /*width:*/ 
}
.header{
    height: 300px;
    position: relative;
}
.phoneWrapper{
    position: absolute;
    right: 30px;
    top: 50px;
}
.phoneWrapper a{
    color: #333;
    font-size: 22px;
    background: url(img/phone.png) bottom left no-repeat;
    padding-left: 34px;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bolder;
    text-decoration: none;
    height: 23px;
    right: 30px;
}
.phoneWrapper .phoneSmallText{
    color: #888888;
    font-size: 14px;
    font-style: italic;
    text-align: right;
}
.yellowBtn{
    padding: 6px 22px;
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
    border: none;
    outline: none;
    background: #ebeb6d;
    border-radius: 3px;
    height: 36px;
    /*font-weight: bolder;*/
    font-family: 'PT Serif', serif;
}

::-webkit-input-placeholder {
    font-family: 'PT Serif', serif;
    text-align: center;
    font-size: 17px;
    color: #333;
    line-height: 17px;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: 'PT Serif', serif;
    text-align: center;
    font-size: 17px;
    color: #333;
    line-height: 17px;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'PT Serif', serif;
    text-align: center;
    font-size: 17px;
    color: #333;
    line-height: 17px;
}

:-ms-input-placeholder {  
    font-family: 'PT Serif', serif;
    text-align: center;
    font-size: 17px;
    color: #333;
    line-height: 17px;
}
.borderedHeader{
    background: url('img/headers_bottom.png') 0 0 no-repeat;
    height: 10px;
    margin: 0 auto;
}
.workWithLove-header{
    width: 150px;
    background-position-x: 0;
    background-position-y: -40px;
    margin: 0 auto 35px auto;
}
.workWithLove-headerText{
    margin: 73px auto 5px auto;
    font-size: 26px;
    font-weight: bold;
    font-family: 'PT Serif', serif;
    text-align: center;
}
.workWithLove-row{
    /*margin-bottom: 30px;*/
    height: 176px;
}
.workWithLove-cell{
    width: 220px;
    height: 123px;
    float: left;
    text-align: center;
}
.workWithLove-row .workWithLove-cell{
    margin-right: 94px;
}
.workWithLove-row .workWithLove-cell:last-child{
    margin-right: 0;
}
.workWithLove-icon{
    background: url(img/services.png) 0 0;
    width: 70px;
    height: 70px;
    margin: 0 auto;
}
.workWithLove-dilivery{
    background-position:  0 0;
}
.workWithLove-place{
    background-position:  -106px 0;
}
.workWithLove-week{
    background-position:  -206px 0;
}
.workWithLove-world{
    background-position:  -295px 0;
}
.workWithLove-sketch{
    background-position:  0 -70px;
}
.workWithLove-docs{
    background-position:  -106px -70px;
}
.workWithLove-flowers{
    background-position: -206px -70px;
}
.workWithLove-time{
    background-position:  -295px -70px;
}
.pinkFormGift{
    /*background: #f4436d;*/
    height: 310px;
    background: url(img/gift_photo.jpg) top center #f4436d no-repeat;
    width: 100%;
}
.pinkFormGift:after,
.servicesWrapper:after,
.container:after{
    clear: both;
}
.giftTextWrapper{
    width: 370px;
}
.bigText{
    font-style: italic;
    font-weight: bold;
    color: #fff;
    font-size: 36px;
    margin: 39px auto 26px auto;
    width: 265px;
    text-align: center;
}
.smallText{
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.teamConainer{
    height: 590px;
    margin-top: 50px;
    padding: 0 40px;
}
.teamColumn{
    width: 270px;
}
.teamConainer .teamColumn{
    margin-right: 140px;
}
.teamConainer .teamColumn:last-child{
    margin-right: 0px;
}
.teamPhoto{
    background: url(img/team.png) 0 0 no-repeat;
    width: 260px;
    height: 260px;
}
.teamName,.servicesName{
    font-weight: bolder;
    font-size: 22px;
    margin: 25px 0 21px 0;
}
.photo-Marta{

}
.photo-Olga{
    background-position: -273px 0;
}
.photo-Juno{
    background-position: -545px 0;
}
.teamText{
    font-size: 16px;
}

.stepsWrapper{
    height: 200px;
}
.stepsCell{
    width: 128px;
    height: 200px;
}
.stepsIcon{
    width: 65px;
    height: 65px;
    margin: 0 auto;
    background: url(img/works_steps.png) 0 0 no-repeat;
}
.circle{
    background: #000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 25px auto;
    z-index: 112;
    position: relative;
}
.circle:hover{
    background: #999;
}
.stepsText{
    text-align: center;
    font-size: 13px;
}
.stepsWrapper{
    position: relative;
}
.line{
    height: 1px;
    width: 1020px;
    position: absolute;
    z-index: 11;
    left: 64px;
    top: 97px;
    background: #000;
}
.step-1{
    background-position: 5px 0;
}
.step-2{
    background-position: -125px 0;
}
.step-3{
    background-position: -255px 0;
}
.step-4{
    background-position: -380px 0;
}
.step-5{
    background-position: -514px 0;
}
.step-6{
    background-position: -646px 0;
}
.step-7{
    background-position: -773px 0;
}
.step-8{
    background-position: -908px 0;
}
.step-9{
    background-position: -1034px 0;
}
.roundPhoto{
    width: 197px;
    height: 197px;
    margin: 0 30px 0 0 ;
    background: url(img/round_preview.png) 0 0 no-repeat;
}
.roundPhoto-1{
    background-position: 0 0;
}
.roundPhoto-2{
    background-position: -197px 0;
}
.roundPhoto-3{
    background-position:0 -202px;
}
.roundPhoto-4{
    background-position: -197px -202px;
}
.roundPhoto-5{
    background-position: 0 -402px;
}
.roundPhoto-6{
    background-position: -197px -402px;
}
.roundPhoto-7{
    background-position: -591px 0;
}
.roundPhoto-8{
    background-position: -591px -202px;
}
.servicesRow{
    height: 197px;
    margin-bottom: 50px;
}
.servicesCell{
    width: 558px;
}
.servicesText{
    width: 325px;
}
.footerBigText{
    color: #fff;
    font-weight: bold;
    font-style: italic;
    font-size: 47px;
    width: 100%;
    text-align: center;
    margin: 0px 0 23px 0;
    padding-top: 50px;
}
.contactsWrapper{
    margin: 0 auto;
    width: 675px;
}
.contactsWrapper a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    display: inline-block;
    margin-right: 37px;

}
.contactsWrapper a:last-child{
    margin-right: 0;
}
.contactsWrapper .footerIcon{
    width: 17px;
    height: 20px;
    display: inline-block;
    background: url(img/phone_and_email.png) 0 0 no-repeat;
    margin: 4px 12px 0 0;
    float: left;
}
.contactsWrapper .footerTextLink{
    float: left;
}
.contactsWrapper .footerPhone{

}
.contactsWrapper .footerEmail{
    background-position:  -30px 0 ;
}
.feedbackPhoto{
    background: url(img/feedback_photo.jpg) 0 0 no-repeat;
    height: 502px;
    width: 100%;
}

.leftArrowDiv{
    width:275px;
    height:360px;
    background: #fff;
    color:#000;
    padding:25px;
    position:relative;
    word-wrap:break-word;
    margin:50px 50px 0 0;
    font-style: italic;
    font-size: 16px;
}


.leftArrowDiv:after{ /*arrow added to leftarrowdiv DIV*/
    content:'';
    display:block;
    position:absolute;
    top:45px;
    left:-25px; /*should be set to -border-width x 2 */
    width:0;
    height:0;
    border-color: transparent #fff transparent transparent; 
    border-style: solid;
    border-width: 15px;
}
.feedbackUsernames{
    margin-top: 15px;
    text-align: right;
}
.feedbackLinks{
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 180px;
}
.feedbackLinks a{
    display: block;
    float: left;
}
.feedbackIcons{
    background: url(img/feedback_icons.png) 0 0 no-repeat;
    width: 16px;
    height: 15px;
    margin: 5px 5px 0 0 ;
    display: inline-block;
    float: left;
}
.showPhoto{
    background-position: 0 0;
}
.nextFeedback{
    background-position: 0 -20px;
}
.feedbackLinkText{
    color: #f4436d;
    text-decoration: underline;
    font-size: 14px;
    float: left;
    font-style: normal;

}